<div class="custom-scroll">

    <div class="img">

        <div class="bg" style="background-image:url(img/company-logo.png)" ></div>

        <img src="img/company-logo.png" alt="" />

    </div>

    <h1>
        {{focusCompany.company_name}}
    </h1>

    <p>
        {{focusCompany.year_founded}} - {{filters.focus[focusCompany.focus]}}
    </p>

    <div class="row">
        <div class="col-1-2">
            <h3>Headquarters</h3>

            <p>
                Hudson, MA
            </p>
        </div>
        <div class="col-1-2">
            <h3>funding</h3>

            <p>
                $2 Million
            </p>
        </div>
    </div>

    <div class="row">

        <div class="col-1-2">
            <h3>services</h3>

            <p>
                Usability Testing
                Test Automation
            </p>
        </div>

        <div class="col-1-2">
            <h3>Industries</h3>

            <p>
                Communications,
                Education
            </p>
        </div>

    </div>

    <h3>description</h3>

    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam libero neque, posuere ut commodo eu, tristique
        vitae libero. Fusce porta nisi et turpis tempus dictum. Suspendisse ultricies tellus diam, a rutrum sem sodales
        eu.
    </p>

    <h3>value prop.</h3>

    <p>
        The Crowdsourced Testing company connects web and software developers with an international crowd of
        professional software testers who can quickly & effectively help test interactive products on a large number of
        devices to ensure that they are bug-free and ready for launch. (Backed by Start-Up Chile, Telefonica's Wayra,
        Rackspace's Startup program, CTA)
    </p>

    <h3>funding</h3>

    <p>
        Free: 250 VUs + 5 tests a month; Standard: 1000 VUs + 30 tests @ $299 / month;
        Advanced: 3000 VUs + UNL tests $699 / month; Pro: 8000 VUs + UNL tests $1299 / month; Enterprise pricing
        available; Pay per Test available
    </p>

    <h3>key customers</h3>

    <p>
        Comic-Con, Shopatron
    </p>

    <h3># of tester</h3>

    <p>
        7,000 computers and mobile devices in over 275 locations around the globe; over 145,000 real online users to
        participate in Web site tests
    </p>

    <h3>why we win</h3>

    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam libero neque, posuere ut commodo eu, tristique
        vitae libero. Fusce porta nisi et turpis tempus dictum. Suspendisse ultricies tellus diam, a rutrum sem sodales
        eu.
    </p>

    <p>
        <a class="btn btn-default" href="">
            crunchbase profile
        </a>
    </p>

    <h3>help out your colleagues</h3>
    <p class="text-muted" >
        Email your feedback on this Appversary to rweiss@applause.com.
    </p>

    <blockquote>
        I worked for them for 2 years, they price according to expected testing hours only.
        <footer>- <cite>Salesman Steve</cite></footer>
    </blockquote>

    <blockquote>
        On their website they say they have the largest community of testers in the US.
        <footer>- <cite>Projecto Manejero</cite></footer>
    </blockquote>

    <blockquote>
        Worked for a company that contracted with these guys, they’re really unresponsive and landed us with a ton of hidden fees.
        <footer>- <cite>Don Draper</cite></footer>
    </blockquote>

</div>